
header{
    text-align: center;

}

main{
    text-align: left;

}


#map {

    width: 100%;
    height: fit-content;
    border: 2px blue;


}


#bild1
{
position:absolute;
top:10px;
left:10px;
width:100px;
height:100px;
}


#bild2
{
position:absolute;
top:10px;
left:10px;
width:100px;
height:100px;
}
